@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Stolen from <a href="https://yerevan.sttwins.com/">sttwins.com</a>.</p>
</div>
