@page
@model DetectiveGame.Areas.Team.Pages.LeaveModel
@{
	ViewData["Title"] = "Leave Team";
}

@if(!Model.IsLeft)
{
	<h3>Would you like to leave your team?</h3>

	<div class="row">
		<div class="col-md-4">
			<section>
				<form id="team" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div>
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Do leave</button>
					</div>
				</form>
			</section>
		</div>
	</div>
}
else
{
	<h3>You have left your team.</h3>
	<a class="btn btn-info" asp-area="Team" asp-page="./Index">Back to the team page</a>
}